GOOGLE_SHEETS_SERVICE_ACCOUNT_FILE = ...
TXN_SPREADSHEET_ID = ...
WATCHLIST_SPREADSHEET_ID = ...
DIVIDENDS_SPREADSHEET_ID = ...

TV_USERNAME=...
TV_PASSWORD=...

ANALYTICS_PASSWORD=...

GEMINI_KEY=...

SERP_API_KEY=...

DEBUG = false