annotated-doc
annotated-types
anyio
APScheduler
beautifulsoup4
certifi
cffi
charset-normalizer
click
colorthief
cryptography
curl_cffi
fastapi
frozendict
google-auth
google-auth-oauthlib
greenlet
gspread
h11
httpcore
httpx
idna
investiny
multitasking
numpy
oauthlib
pandas
peewee
pillow
platformdirs
playwright
playwright-stealth
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pyee
python-dateutil
python-dotenv
pytz
requests
requests-oauthlib
rfc3986
six
sniffio
soupsieve
starlette
tradingview-scraper
typing-inspection
typing_extensions
tzlocal
urllib3
uvicorn
websocket-client
websockets
yf
yfinance
tvDatafeed
